#parameters {
    width: 100%;
}

#parameters td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#parameters td:first-child {
    width: 6em;
}

#parameters td:nth-child(2) {
    width: 3em;
}


#probabilities {
    width: 100%;
}

#probabilities input {
    width: 3em;
}

#probabilities td:nth-child(3) {
    text-align: right;
}

#probabilities td:last-child {
    width: 5em;
    font-weight: bold;
}
