/* Overlay text & gradient on Scientist plugin images */

.scientist-plugin img {
  border: 2px solid black;
  border-radius: 5px;
  max-width: 90%;
}
.scientist-plugin a:hover {
  text-decoration: none;
}

.scientist-plugin .image-container {
  margin: 10px 0;
  position: relative;
}
.scientist-plugin .gradient-overlay,
.scientist-plugin .text-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 auto;
  max-width: 300px;
  width: 90%;
}
.scientist-plugin .gradient-overlay {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent 50%, transparent);
  background: linear-gradient( to top, rgba(0, 0, 0, 0.5), transparent 50%, transparent);
  border-radius: 5px;
  top: 0;
}
.scientist-plugin .gradient-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}
.scientist-plugin .text-overlay {
  margin-bottom: 10px;
}
.scientist-plugin .text-overlay-name,
.scientist-plugin .text-overlay-title {
  color: white;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  text-shadow: black 1px 1px 3px;
}
.scientist-plugin .text-overlay-name {
  font-size: 1.5em;
  padding: 0 0 5px;
}
.scientist-plugin .text-overlay-title {
  font-size: 0.8em;
}
