.warnings{
    margin-top: 10px;
}

.alert{
    padding: 5px 10px;
    margin-bottom: 5px;
}

.alert button.close{
    right: 0;
}

#device{
    margin-left: 10px;
}

svg {
    font: 10px sans-serif;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend text{
    font-size: 12px;
}
