/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




 */


footer{
    @include panel($panel-color, $panel-padding);
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
}

#body_content{
    padding-bottom: 100px;
}

footer{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

$panel-bg: scale-color(#B6FFCD, $lightness: -5%);
