/***********************/
/* Scientist List View */
/***********************/

.former-title {
  color: gray;
}
p + p.former-title {
  margin-top: 4px;
}

.gallery-heading {
  margin-bottom: 25px;
}
.thumbnail {
  max-width: 310px;
}
.thumbnail {
  margin-left: auto;
  margin-right: auto;
}
.thumbnail a:hover {
  text-decoration: none;
}
.thumbnail:hover {
  border-color: black;
}
/* Adjust the y-position when following link to Lab Alumni anchor */
#lab-alumni {
  padding-top: 135px;
  margin-top: -135px;
}


/*************************/
/* Scientist Detail View */
/*************************/

/* Make alumni link more prominent */
.alumni-link {
  color: #EDF9FE;
  background-color: #31708f;
  border: 1px solid #31708f;
  border-radius: 4px;
  padding:0 3px 1px;

}
.alumni-link:hover {
  color: #31708f;
  background-color: #EDF9FE;
  text-decoration: none;
}
h4.alumni-info + h4.alumni-info {
  margin-top: -6px;
  margin-bottom: 12px;
}

.scientist-contact-info p + p {
  margin-top: -8px;
}

.scientist-photo {
  max-width: 100%;
  width: 300px;
}

/* Override OS X's hidden scrollbars */
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
}
.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
