@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fls-slides .collection-item .Column {
    clip: rect(0px, auto, auto, 0px) !important;
  }
}
/* Mixin */
.vertical_align{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Slider appearance */
.fls-wrapper{
    border:0 none transparent;
}
/* Slider captions */
.fls_caption h2,
.fls_caption h3,
.fls_caption h4{
    margin:0;
}
.fls-content{
    max-height:20%;
    overflow:auto;
    background-color:transparent;
    background: url(dark_caption_bg.png) repeat;
    bottom:0;
    position :absolute;
    width:100%;
    padding:1em 1em 0;
}
.fls-content a, .fls-content p,
.fls-content h1, .fls-content h2, .fls-content h3,
.fls-content h4, .fls-content h5, .fls-content h6,
#content .fls-content h1 a, #content .fls-content h2 a,
#content .fls-content h3 a, #content .fls-content h4 a,
#content .fls-content h5 a, #content .fls-content h6 a,
#content .fls-content a:link{
    color:#fff;
    text-decoration: none;
    font-weight:normal;
    border-bottom:0 none transparent;
}

.fls-content h5{
    width:30%;
    float:left;
}

/*  Set standard style */
.fls-slides{
    background-color:transparent;
}

/* override possible defaults */
.fls-slides img{
    max-width:none;
}
#content .fls-slides .collection-item {
    height: inherit !important;
}

/* Arrow Navigator Stylez */
/* Arrow 01 */
.jssora01l,.jssora01r,.jssora01ldn,.jssora01rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a01.png) no-repeat;
    overflow:hidden}

.jssora01l{background-position:-8px -38px;}
.jssora01r{background-position:-68px -38px;}
.jssora01l:hover{background-position:-128px -38px;}
.jssora01r:hover{background-position:-188px -38px;}
.jssora01ldn{background-position:-8px -38px;}
.jssora01rdn{background-position:-68px -38px;}

/* Arrow 02 */
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(a02.png) no-repeat;
    overflow: hidden;
}

.jssora02r, .jssora02rdn{
    background-position: -63px -33px;
}
.jssora02r:hover, .jssora02r:focus {
    background-position: -183px -33px;
}

.jssora02l, .jssora02ldn {
    background-position: -3px -33px;
}
.jssora02l:hover, .jssora02l:focus {
    background-position: -123px -33px;
}
/* Arrow 03 */
.jssora03l,.jssora03r,.jssora03ldn,.jssora03rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a03.png) no-repeat;
    overflow:hidden;}

.jssora03l{background-position:-3px -33px;}
.jssora03r{background-position:-63px -33px;}
.jssora03l:hover{background-position:-123px -33px;}
.jssora03r:hover{background-position:-183px -33px;}
.jssora03ldn{background-position:-243px -33px;}
.jssora03rdn{background-position:-303px -33px;}

/* Arrow 04 */
.jssora04l,.jssora04r,.jssora04ldn,.jssora04rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a04.png) no-repeat;
    overflow:hidden;}
.jssora04l{background-position:-16px -39px;}
.jssora04r{background-position:-76px -39px;}
.jssora04l:hover{background-position:-136px -39px;}
.jssora04r:hover{background-position:-196px -39px;}
.jssora04ldn{background-position:-256px -39px;}
.jssora04rdn{background-position:-316px -39px;}

/* Arrow 05 */
.jssora05l,.jssora05r,.jssora05ldn,.jssora05rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a17.png) no-repeat;
    overflow:hidden;}

.jssora05l{background-position:-10px -40px;}
.jssora05r{background-position:-70px -40px;}
.jssora05l:hover{background-position:-130px -40px;}
.jssora05r:hover{background-position:-190px -40px;}
.jssora05ldn{background-position:-250px -40px;}
.jssora05rdn{background-position:-310px -40px;}

/* Arrow 06 */
.jssora06l,.jssora06r,.jssora06ldn,.jssora06rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a06.png) no-repeat;
    overflow:hidden;}

.jssora06l{background-position:-8px -38px;}
.jssora06r{background-position:-68px -38px;}
.jssora06l:hover{background-position:-128px -38px;}
.jssora06r:hover{background-position:-188px -38px;}
.jssora06ldn{background-position:-248px -38px;}
.jssora06rdn{background-position:-308px -38px;}

/* Arrow 07 */
.jssora07l,.jssora07r,.jssora07ldn,.jssora07rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a07.png) no-repeat;
    overflow:hidden;}

.jssora07l{background-position:-5px -35px;}
.jssora07r{background-position:-65px -35px;}
.jssora07l:hover{background-position:-125px -35px;}
.jssora07r:hover{background-position:-185px -35px;}
.jssora07ldn{background-position:-245px -35px;}
.jssora07rdn{background-position:-305px -35px;}

/* Arrow 08 */
.jssorb08l,.jssorb08r,.jssorb08ldn,.jssorb08rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a08.png) no-repeat;
    overflow:hidden;
    opacity:.4;
    filter:alpha(opacity=40);}

.jssorb08l{background-position:-5px -35px;}
.jssorb08r{background-position:-65px -35px;}
.jssorb08l:hover{background-position:-5px -35px;opacity:.8;filter:alpha(opacity=80);}
.jssorb08r:hover{background-position:-65px -35px;opacity:.8;filter:alpha(opacity=80);}
.jssorb08ldn{background-position:-5px -35px;opacity:.3;filter:alpha(opacity=30);}
.jssorb08rdn{background-position:-65px -35px;opacity:.3;filter:alpha(opacity=30);}

/* Arrow 09 */
.jssora09l,.jssora09r,.jssora09ldn,.jssora09rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a09.png) no-repeat;
    overflow:hidden;
    opacity:.4;
    filter:alpha(opacity=40);}

.jssora09l{background-position:-5px -35px;}
.jssora09r{background-position:-65px -35px;}
.jssora09l:hover{background-position:-5px -35px; opacity:.8;filter:alpha(opacity=80);}
.jssora09r:hover{background-position:-65px -35px;opacity:.8;filter:alpha(opacity=80);}
.jssora09ldn{background-position:-5px -35px;opacity:.3;filter:alpha(opacity=30);}
.jssora09rdn{background-position:-65px -35px;opacity:.3;filter:alpha(opacity=30);}

/* Arrow 10 */
.jssora10l,.jssora10r,.jssora10ldn,.jssora10rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a10.png) no-repeat;
    overflow:hidden;}

.jssora10l{background-position:-16px -39px;}
.jssora10r{background-position:-76px -39px;}
.jssora10l:hover{background-position:-136px -39px;}
.jssora10r:hover{background-position:-196px -39px;}
.jssora10ldn{background-position:-256px -39px;}
.jssora10rdn{background-position:-316px -39px;}

/* Arrow 11*/
.jssora11l,.jssora11r,.jssora11ldn,.jssora11rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a11.png) no-repeat;
    overflow:hidden;}

.jssora11l{background-position:-11px -41px;}
.jssora11r{background-position:-71px -41px;}
.jssora11l:hover{background-position:-131px -41px;}
.jssora11r:hover{background-position:-191px -41px;}
.jssora11ldn{background-position:-251px -41px;}
.jssora11rdn{background-position:-311px -41px;}

/* Arrow 12 */
.jssora12l,.jssora12r,.jssora12ldn,.jssora12rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a12.png) no-repeat;
    overflow:hidden;}

.jssora12l{background-position:-16px -37px;}
.jssora12r{background-position:-75px -37px;}
.jssora12l:hover{background-position:-136px -37px;}
.jssora12r:hover{background-position:-195px -37px;}
.jssora12ldn{background-position:-256px -37px;}
.jssora12rdn{background-position:-315px -37px;}

/* Arrow 13*/
.jssora13l,.jssora13r,.jssora13ldn,.jssora13rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a13.png) no-repeat;
    overflow:hidden;}

.jssora13l{background-position:-10px -35px;}
.jssora13r{background-position:-70px -35px;}
.jssora13l:hover{background-position:-130px -35px;}
.jssora13r:hover{background-position:-190px -35px;}
.jssora13ldn{background-position:-250px -35px;}
.jssora13rdn{background-position:-310px -35px;}

/* Arrow 14 */
.jssora14l,.jssora14r,.jssora14ldn,.jssora14rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a14.png) no-repeat;
    overflow:hidden;}

.jssora14l{background-position:-15px -35px;}
.jssora14r{background-position:-75px -35px;}
.jssora14l:hover{background-position:-135px -35px;}
.jssora14r:hover{background-position:-195px -35px;}
.jssora14ldn{background-position:-255px -35px;}
.jssora14rdn{background-position:-315px -35px;}

/* Arrow 15 */
.jssora15l,.jssora15r,.jssora15ldn,.jssora15rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a15.png) no-repeat;
    overflow:hidden;}

.jssora15l{background-position:-20px -41px;}
.jssora15r{background-position:-80px -41px;}
.jssora15l:hover{background-position:-140px -41px;}
.jssora15r:hover{background-position:-200px -41px;}
.jssora15ldn{background-position:-260px -41px;}
.jssora15rdn{background-position:-320px -41px;}

/* Arrow 16 */
.jssora16l,.jssora16r,.jssora16ldn,.jssora16rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a16.png) no-repeat;
    overflow:hidden;}
.jssora16l{background-position:-19px -42px;}
.jssora16r{background-position:-79px -42px;}
.jssora16l:hover{background-position:-139px -42px;}
.jssora16r:hover{background-position:-199px -42px;}
.jssora16ldn{background-position:-259px -42px;}
.jssora16rdn{background-position:-319px -42px;}

/* Arrow 18 */
.jssora18l,.jssora18r,.jssora18ldn,.jssora18rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a18.png) no-repeat;
    overflow:hidden;}

.jssora18l{background-position:-16px -45px;}
.jssora18r{background-position:-76px -45px;}
.jssora18l:hover{background-position:-136px -45px;}
.jssora18r:hover{background-position:-196px -45px;}
.jssora18ldn{background-position:-256px -45px;}
.jssora18rdn{background-position:-316px -45px;}

/* Arrow 19 */
.jssora19l,.jssora19r,.jssora19ldn,.jssora19rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a19.png) no-repeat;
    overflow:hidden;}

.jssora19l{background-position:-5px -35px;}
.jssora19r{background-position:-65px -35px;}
.jssora19l:hover{background-position:-125px -35px;}
.jssora19r:hover{background-position:-185px -35px;}
.jssora19ldn{background-position:-245px -35px;}
.jssora19rdn{background-position:-305px -35px;}

/* Arrow 20 */
.jssora20l,.jssora20r,.jssora20ldn,.jssora20rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a20.png) no-repeat;
    overflow:hidden;}

.jssora20l{background-position:-3px -33px;}
.jssora20r{background-position:-63px -33px;}
.jssora20l:hover{background-position:-123px -33px;}
.jssora20r:hover{background-position:-183px -33px;}
.jssora20ldn{background-position:-243px -33px;}
.jssora20rdn{background-position:-303px -33px;}

/* Arrow 21 */
.jssora21l,.jssora21r,.jssora21ldn,.jssora21rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a21.png) center center no-repeat;
    overflow:hidden;}

.jssora21l{background-position:-3px -33px;}
.jssora21r{background-position:-63px -33px;}
.jssora21l:hover{background-position:-123px -33px;}
.jssora21r:hover{background-position:-183px -33px;}
.jssora21ldn{background-position:-243px -33px;}
.jssora21rdn{background-position:-303px -33px;}

/* Bullet Point Navigator */
/* Bullet Point Navigator 01 */
.jssorb01 div,.jssorb01 div:hover,.jssorb01 .av{filter:alpha(opacity=70);opacity:.7;overflow:hidden;cursor:pointer;border:#000 1px solid}
.jssorb01 div{background-color:gray}
.jssorb01 div:hover,.jssorb01 .av:hover{background-color:#d3d3d3}
.jssorb01 .av{background-color:#fff}
.jssorb01 .dn,.jssorb01 .dn:hover{background-color:#555}

/* Bullet Point Navigator 02 */
.jssorb02 div,.jssorb02 div:hover,.jssorb02 .av{background:url(b02.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb02 div{background-position:-5px -5px}
.jssorb02 div:hover,.jssorb02 .av:hover{background-position:-35px -5px}
.jssorb02 .av{background-position:-65px -5px}
.jssorb02 .dn,.jssorb02 .dn:hover{background-position:-95px -5px}

/* Bullet Point Navigator 03 */
.jssorb03 div,.jssorb03 div:hover,.jssorb03 .av{background:url(b03.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb03 div{background-position:-5px -4px}
.jssorb03 div:hover,.jssorb03 .av:hover{background-position:-35px -4px}
.jssorb03 .av{background-position:-65px -4px}
.jssorb03 .dn,.jssorb03 .dn:hover{background-position:-95px -4px}

/* Bullet Point Navigator 05 */
.jssorb05 div,.jssorb05 div:hover,.jssorb05 .av{background:url(b05.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb05 div{background-position:-7px -7px}
.jssorb05 div:hover,.jssorb05 .av:hover{background-position:-37px -7px}
.jssorb05 .av{background-position:-67px -7px}
.jssorb05 .dn,.jssorb05 .dn:hover{background-position:-97px -7px}

/* Bullet Point Navigator 06 */
.jssorb06 div,.jssorb06 div:hover,.jssorb06 .av{background:url(b06.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb06 div{background-position:-6px -6px}
.jssorb06 div:hover,.jssorb06 .av:hover{background-position:-36px -6px}
.jssorb06 .av{background-position:-66px -6px}
.jssorb06 .dn,.jssorb06 .dn:hover{background-position:-96px -6px}

/* Bullet Point Navigator 07 */
.jssorb07 div,.jssorb07 div:hover,.jssorb07 .av{background:url(b07.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb07 div{background-position:-5px -5px}
.jssorb07 div:hover,.jssorb07 .av:hover{background-position:-35px -5px}
.jssorb07 .av{background-position:-65px -5px}
.jssorb07 .dn,.jssorb07 .dn:hover{background-position:-95px -5px}

/* Bullet Point Navigator 09 */
.jssorb09 div,.jssorb09 div:hover,.jssorb09 .av{filter:alpha(opacity=70);opacity:.7;overflow:hidden;cursor:pointer;border:#fff 1px solid}
.jssorb09 div{background-color:#d3d3d3}
.jssorb09 div:hover,.jssorb09 .av:hover{background-color:gray}
.jssorb09 .av{background-color:#000}
.jssorb09 .dn,.jssorb09 .dn:hover{background-color:#a9a9a9}

/* Bullet Point Navigator 10 */
.jssorb10 div,.jssorb10 div:hover,.jssorb10 .av{background:url(b10.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb10 div{background-position:-10px -10px}
.jssorb10 div:hover,.jssorb10 .av:hover{background-position:-40px -10px}
.jssorb10 .av{background-position:-70px -10px}
.jssorb10 .dn,.jssorb10 .dn:hover{background-position:-100px -10px}

/* Bullet Point Navigator 11 */
.jssorb11 div,.jssorb11 div:hover,.jssorb11 .av{background:url(b11.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb11 div{background-position:-10px -10px}
.jssorb11 div:hover,.jssorb11 .av:hover{background-position:-40px -10px}
.jssorb11 .av{background-position:-70px -10px}
.jssorb11 .dn,.jssorb11 .dn:hover{background-position:-100px -10px}


/* Bullet Point Navigator 12 */
.jssorb12 div,.jssorb12 div:hover,.jssorb12 .av{background:url(b12.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb12 div{background-position:-7px -7px}
.jssorb12 div:hover,.jssorb12 .av:hover{background-position:-37px -7px}
.jssorb12 .av{background-position:-67px -7px}
.jssorb12 .dn,.jssorb12 .dn:hover{background-position:-97px -7px}

/* Bullet Point Navigator 13 */
.jssorb13 div,.jssorb13 div:hover,.jssorb13 .av{background:url(b13.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb13 div{background-position:-5px -5px}
.jssorb13 div:hover,.jssorb13 .av:hover{background-position:-35px -5px}
.jssorb13 .av{background-position:-65px -5px}
.jssorb13 .dn,.jssorb13 .dn:hover{background-position:-95px -5px}

/* Bullet Point Navigator 14 */
.jssorb14 div,.jssorb14 div:hover,.jssorb14 .av{background:url(b14.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb14 div{background-position:-9px -9px}
.jssorb14 div:hover,.jssorb14 .av:hover{background-position:-39px -9px}
.jssorb14 .av{background-position:-69px -9px}
.jssorb14 .dn,.jssorb14 .dn:hover{background-position:-99px -9px}

/* Bullet Point Navigator 16 */
.jssorb16 div,.jssorb16 div:hover,.jssorb16 .av{background:url(b16.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb16 div{background-position:-5px -5px}
.jssorb16 div:hover,.jssorb16 .av:hover{background-position:-35px -5px}
.jssorb16 .av{background-position:-65px -5px}
.jssorb16 .dn,.jssorb16 .dn:hover{background-position:-95px -5px}

/* Bullet Point Navigator 17 */
.jssorb17 div,.jssorb17 div:hover,.jssorb17 .av{background:url(b17.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb17 div{background-position:-7px -7px}
.jssorb17 div:hover,.jssorb17 .av:hover{background-position:-37px -7px}
.jssorb17 .av{background-position:-67px -7px}
.jssorb17 .dn,.jssorb17 .dn:hover{background-position:-97px -7px}

/* Bullet Point Navigator 18 */
.jssorb18 div,.jssorb18 div:hover,.jssorb18 .av{background:url(b18.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb18 div{background-position:-3px -3px}
.jssorb18 div:hover,.jssorb18 .av:hover{background-position:-33px -3px}
.jssorb18 .av{background-position:-63px -3px}
.jssorb18 .dn,.jssorb18 .dn:hover{background-position:-93px -3px}
.jssorb18 .n{display:none;color:#000}
.jssorb18 div:hover .n,.jssorb18 .av .n,.jssorb18 .av:hover .n,.jssorb18 .dn .n{display:block}

/* Bullet Point Navigator 20 */
.jssorb20 div,.jssorb20 div:hover,.jssorb20 .av{background:url(b20.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb20 div{background-position:-5px -5px}
.jssorb20 div:hover,.jssorb20 .av:hover{background-position:-35px -5px}
.jssorb20 .av{background-position:-65px -5px}
.jssorb20 .dn,.jssorb20 .dn:hover{background-position:-95px -5px}

/* Bullet Point Navigator 21 */
.jssorb21 div,.jssorb21 div:hover,.jssorb21 .av{background:url(b21.png) no-repeat;overflow:hidden;cursor:pointer}
.jssorb21 div{background-position:-5px -5px}
.jssorb21 div:hover,.jssorb21 .av:hover{background-position:-35px -5px}
.jssorb21 .av{background-position:-65px -5px}
.jssorb21 .dn,.jssorb21 .dn:hover{background-position:-95px -5px}

/* Thumbnail Syles */
/* Thumbnail Syles 01 */
.jssort01 .w{position:absolute;top:0;left:0;width:100%;height:100%}
.jssort01 .c{position:absolute;top:0;left:0;width:68px;height:68px;border:#000 2px solid}
.jssort01 .p:hover .c,.jssort01 .pav:hover .c,
.jssort01 .pav .c{background:url(t01.png) center center;border-width:0;top:2px;left:2px;width:68px;height:68px}
.jssort01 .p:hover .c,.jssort01 .pav:hover .c{top:0;left:0;width:70px;height:70px;border:#fff 1px solid}

/* Thumbnail Syles 02 */
.jssort02 .w{position:absolute;top:0;left:0;width:100%;height:100%}
.jssort02 .c{position:absolute;top:0;left:0;width:95px;height:62px;border:#000 2px solid}
.jssort02 .p:hover .c,.jssort02 .pav:hover .c,.jssort02 .pav .c
{background:url(t01.png) center center;border-width:0;top:2px;left:2px;width:95px;height:62px}
.jssort02 .p:hover .c,.jssort02 .pav:hover .c{top:0;left:0;width:97px;height:64px;border:#fff 1px solid}

/* Thumbnail Syles 03 */
.jssort03 .w,.jssort03 .pav:hover .w{position:absolute;width:60px;height:30px;border:#fff 1px dashed}
* html .jssort03 .w{width:62px;height:32px}
.jssort03 .pdn .w,.jssort03 .pav .w{border-style:solid}
.jssort03 .c{width:62px;height:32px;filter:alpha(opacity=45);opacity:.45;transition:opacity .6s;-moz-transition:opacity .6s;-webkit-transition:opacity .6s;-o-transition:opacity .6s}
.jssort03 .p:hover .c,.jssort03 .pav .c{filter:alpha(opacity=0);opacity:0}
.jssort03 .p:hover .c{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}

/* Thumbnail Syles 04 */
.jssort04 .w,.jssort04 .pav:hover .w{position:absolute;width:60px;height:30px;border:#09f 1px solid}
* html .jssort04 .w{width:62px;height:32px}
.jssort04 .pdn .w,.jssort04 .pav .w{border-style:solid}
.jssort04 .c{width:62px;height:32px;filter:alpha(opacity=45);opacity:.45;transition:opacity .6s;-moz-transition:opacity .6s;-webkit-transition:opacity .6s;-o-transition:opacity .6s}
.jssort04 .p:hover .c,.jssort04 .pav .c{filter:alpha(opacity=0);opacity:0}
.jssort04 .p:hover .c{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}

/* Thumbnail Syles 05 */
.jssort05 .f{clip:rect(8px 63px 63px 8px)}
.jssort05 .i{position:absolute;background:#000;filter:alpha(opacity=30);opacity:.3;width:72px;height:72px;top:0;left:0;transition:background-color .6s;-moz-transition:background-color .6s;-webkit-transition:background-color .6s;-o-transition:background-color .6s}
.jssort05 .pav .i{background:#fff;filter:alpha(opacity=80);opacity:.8}
.jssort05 .pdn .i{background:none}
.jssort05 .p:hover .i,.jssort05 .pav:hover .i{background:#fff;filter:alpha(opacity=30);opacity:.3}
.jssort05 .p:hover .i{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}

/* Thumbnail Syles 06 */
.jssort06 .f{clip:rect(8px 91px 58px 8px)}
.jssort06 .pav .f{clip:rect(2px 97px 64px 2px)}
.jssort06 .i{position:absolute;background:#000;filter:alpha(opacity=30);opacity:.3;width:99px;height:66px;top:0;left:0;transition:background-color .6s;-moz-transition:background-color .6s;-webkit-transition:background-color .6s;-o-transition:background-color .6s}
.jssort06 .pav .i{background:#fff;filter:alpha(opacity=100);opacity:1}
.jssort06 .pdn .i{background:none}
.jssort06 .p:hover .i,.jssort06 .pav:hover .i{background:#fff;filter:alpha(opacity=30);opacity:.3}
.jssort06 .p:hover .i{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}

/* Thumbnail Syles 07 */
.jssort07 .i{position:absolute;top:0;left:0;width:72px;height:72px;filter:alpha(opacity=80);opacity:.8}
.jssort07 .p:hover .i,.jssort07 .pav .i{filter:alpha(opacity=100);opacity:1}
.jssort07 .o{position:absolute;top:0;left:0;width:70px;height:70px;border:1px solid #000;transition:border-color .6s;-moz-transition:border-color .6s;-webkit-transition:border-color .6s;-o-transition:border-color .6s}
* html .jssort07 .o{width:72px;height:72px}
.jssort07 .pav .o,.jssort07 .p:hover .o{border-color:#fff}
.jssort07 .pav:hover .o{border-color:#09f}
.jssort07 .p:hover .o{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}


/* Thumbnail Syles 08 */
.jssort08 .i{position:absolute;top:0;left:0;width:50px;height:50px;filter:alpha(opacity=80);opacity:.8}
.jssort08 .p:hover .i,.jssort08 .pav:hover .i{filter:alpha(opacity=100);opacity:1}
.jssort08 .o{position:absolute;top:0;left:0;width:48px;height:48px;border:1px solid #000;transition:border-color .6s;-moz-transition:border-color .6s;-webkit-transition:border-color .6s;-o-transition:border-color .6s}
* html .jssort08 .o{width:50px;height:50px}
.jssort08 .pav .o,.jssort08 .p:hover .o{border-color:#fff}
.jssort08 .pav:hover .o{border-color:#09f}
.jssort08 .p:hover .o{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}

/* Thumbnail Syles 09 */
/* Thumbnail Syles 10 */

/* Thumbnail Syles 11 */
.jssort11 .p .t{FILTER:alpha(opacity=45);opacity:.45;transition:opacity .6s;-moz-transition:opacity .6s;-webkit-transition:opacity .6s;-o-transition:opacity .6s}
.jssort11 .pav .t,.jssort11 .pav:hover .t,.jssort11 .p:hover .t{FILTER:alpha(opacity=100);opacity:1;transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}

/* Thumbnail Syles 12 */
.jssort12 .p img{FILTER:alpha(opacity=55);opacity:.55;transition:opacity .6s;-moz-transition:opacity .6s;-webkit-transition:opacity .6s;-o-transition:opacity .6s}
.jssort12 .pav img,.jssort12 .pav:hover img,.jssort12 .p:hover img{FILTER:alpha(opacity=100);opacity:1;transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}
.jssort12 .pav:hover img,.jssort12 .p:hover img{FILTER:alpha(opacity=70);opacity:.7}
.jssort12 .title,.jssort12 .title_back{position:absolute;top:70px;left:0;width:200px;height:30px;line-height:30px;text-align:center;color:#000;font-size:20px}
.jssort12 .title_back{background-color:#fff;filter:alpha(opacity=50);opacity:.5}
.jssort12 .pav:hover .title_back,.jssort12 .p:hover .title_back{filter:alpha(opacity=40);opacity:.4}
.jssort12 .pav .title_back{background-color:#000;filter:alpha(opacity=50);opacity:.5}
.jssort12 .pav .title{color:#fff}

/* CAPTION */

/* Stage Shape */
.caption_stage{
    position:absolute;
    overflow:auto;
    height:auto;
    background-color:transparent;
}
.caption_stage .v_devider{
    width:2px;
    height:1em;
    border-right:2px dotted;
    margin-top:0.25em;
}
.caption_stage.Box{
    width:30%;
    min-width:150px;
    max-width: 100%;
}
.caption_stage.Column{
    width:25%;
    height:100%;
    overflow: hidden;
    min-width:140px;
}
.caption_stage.Column .fls_caption{
    height:100%;
}

.caption_stage.Row{
    width:100%;
}
.caption_stage.Row.offset{
    width:90%;
    left:5%;
    right:5%;
}
.caption_stage.bottom-left{
    bottom:0;
    left:0;
}
.caption_stage.bottom-left.offset{
    bottom:5%;
    left:5%;
}
.caption_stage.bottom-left.offset.Column,
.caption_stage.bottom-right.offset.Column{
    bottom:0;
}

.caption_stage.bottom-left.offset.Column{
    left:0;
}

.caption_stage.bottom-right{
    bottom:0;
    right:0;
}
.caption_stage.bottom-right.offset{
    bottom:5%;
    right:5%;
}
.caption_stage.bottom-right.offset.Row,
.caption_stage.bottom-right.offset.Column{
    right:0;
}
.caption_stage.top-left{
    top:0;
    left:0;
}
.caption_stage.top-left.offset{
    top:5%;
    left:5%;
}
.caption_stage.top-left.offset.Column{
    left:0;
}

.caption_stage.top-right{
    top:0;
    right:0;
}
.caption_stage.top-right.offset{
    top:5%;
    right:5%;
}
.caption_stage.top-right.offset.Row,
.caption_stage.top-right.offset.Column{
    right:0;
}

.caption_stage.top-left.offset.Column,
.caption_stage.top-right.offset.Column{
    top:0;
}

.caption_stage .fls_caption{
    background-color:transparent;
}

.caption_stage .baths.icons-on{
  display:inline-block;
  padding-left:1.5em;
  padding-right:0.6em;

  background:url(bathrooms.png) no-repeat scroll 0 -2px;
}
.caption_stage .beds.icons-on{
  display:inline-block;
  padding-left:2em;
  padding-right:0.6em;
  background:url(bedrooms.png) no-repeat;
  background-position: 0 4px;
}
.caption_stage .type.icons-on{
    display:inline-block;
    padding-left:2em;
    padding-right:1em;
    background:url(house.png) no-repeat;
    background-position: 0 -2px;
}


/* Given Caption Layouts */

.fls_caption > div,
.fls_caption .row01,
.fls_caption .row02,
.caption_stage.Column .title_bath_bed_location_price {
    background:rgb(4,19,48);
    background: transparent\9;
    background:rgba(4,19,48,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc041330,endColorstr=#cc041330);
    zoom: 1;

    color:#b5b5b5;
    min-height:100%;
    
}
/* Layout 01*/
.caption_stage .price_title_location_bed_bath:nth-child(n) {
    filter: none;
}

.caption_stage.Column.offset.bottom-left,
.caption_stage.Column.offset.bottom-right,
.caption_stage.Column.offset.top-right,
.caption_stage.Column.offset.top-left{
    height:95%;

}
/* Layout 02 */
.fls_caption .title_bath_bed_location_price,
.caption_stage.Column .title_bath_bed_location_price .row01,
.caption_stage.Column .title_bath_bed_location_price .row02{
    background:none;
}
.caption_stage .title_bath_bed_location_price .baths.icons-on,
.caption_stage .title_bath_bed_location_price .beds.icons-on{
    width:30px;
    float:left;

}
.fls_caption .title_bath_bed_location_price .row02 span{
    float:left;
}
.caption_stage .title_bath_bed_location_price .v_devider{
    margin-right:1em;
}

.caption_stage.Column .title_bath_bed_location_price .row02{
    padding-top:4em;

}
.caption_stage.Column .title_bath_bed_location_price .price{
    position:absolute;
    top:0;
    right:0;
    padding:0.6em 1em 0.4em;
    
}

.caption_stage .highlight{
    color:#fff;
    font-size:1.5em;
}

.caption_stage.Box .title_bath_bed_location_price .row02{
    padding-bottom: 3em
}
.caption_stage.Box .title_bath_bed_location_price .highlight{
    position:absolute; 
    left:0;
    right:0;
    bottom:0;
    padding: 0.5em 1em;
}
.caption_stage.Row .title_bath_bed_location_price .highlight{
    position:absolute;
    right:0;
    bottom:0;
    padding: 0.5em 1em;
    top:-1px;
}

.caption_stage.Box .title_bath_bed_location_price .row02 .v_devider,
.caption_stage.Column .title_bath_bed_location_price .row02 .v_devider{
    clear:both;
    float:none;
    display:block;
    border:none;
    width:100%;
    height:0.8em;
    margin-bottom:0.5em;
    border-bottom:2px dotted;
}


.fls_caption .row01,
.fls_caption .row02{
    margin-bottom:10px;
    overflow:auto;
    min-height:2em;
    padding: 0.5em 1em;
    position:relative;
}
.fls_caption .row02{
    overflow:hidden;
}


/* Caption Layout 03 */
.caption_stage.Box .location_object-type_price{
    padding:4% 6%;
}

.caption_stage .title_object-type_bath_bed_price .title{
    display:block;
    font-size:1.3em;
    line-height:1.15em;
}

.caption_stage .title_object-type_bath_bed_price > span{
    margin-bottom:0.5em;
}
.caption_stage.Box .title_object-type_bath_bed_price .type.icons-on{
  display:block;
  margin: 0.5em 0;
}

/* short caption */
.caption_stage.Row .title_object-type_bath_bed_price .short{
    overflow:hidden;
    height:auto;
    padding:0.8em 1em;
}

.caption_stage.Column .title_object-type_bath_bed_price {
    padding:0.8em 1em;
}
.caption_stage .label{
    background-color:transparent;
    font-weight: normal;
    color:inherit;
    font-size:1em;
}
.caption_stage .title_object-type_bath_bed_price .value{
    color:#fff;
    font-weight:bold;
}
.caption_stage.Column .title_object-type_bath_bed_price .location{
    font-style:italic;
    font-size: 0.86em;
}
.caption_stage .title_object-type_bath_bed_price .top-info,
.caption_stage .title_object-type_bath_bed_price .bottom-info{
    margin-top:1.5em;
}

/* location_object-type_price */
.caption_stage .location_object-type_price .location,
.caption_stage.Column .location_object-type_price .price,
.price_property-type .price{
    font-style:italic;
    border-bottom: 1px dotted #fff;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
}

.caption_stage .location_object-type_price .title,
.caption_stage .location_object-type_price p{
    color:#ccc;
}

.caption_stage.Row .location_object-type_price .price{
    position:absolute;
    right:1em;
    bottom:0;
}

/* new Data Layouts */
.fls_caption div.content{
    padding:1em;
    padding-top:0.5em;
}

.fls_caption div.content > div{
    margin-bottom:1em;
}

.fls_caption .price h2,
.fls_caption .price h3,
.fls_caption h2,
.fls_caption h3{
    color:#fff;
    font-weight:normal;
}
.fls_caption .title{
    margin-bottom:0.5em;
}
.fls_caption .location{
    font-style: italic;
}
.fls_caption h3.highlight{
    padding:0.8em;
    line-height:1.2em;
}
.fls_caption .price,
.fls_caption h3.highlight{
    font-size:22px;
    font-weight:normal;
    text-align:right;
}

/* Data Layout */
.fls_caption .property-type_bed_bath_price h3.second_line{
    position:absolute;
    right:1em;
    bottom:2px;
}
.fls_caption div.location_price .location{
    margin-bottom:0;
}
.fls_caption div.content.title_price div.title{
    margin-bottom: 1em;
}
.fls_caption .property-type_bed_bath_price .property_type{
    margin-right:1em;
}
.Column .fls_caption h3.highlight.location_price{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
.fls_caption .price_bed_bath .price{
    margin-right:1em;
    position:absolute;
    top:0.4em;
    left:1em;
}

.fls_caption .price_bed_bath.content{
    text-align:right;
    padding-top:12px;
}
.fls_caption .price_property-type .price{
    text-align: left;
    border-bottom:0 none transparent;
    padding-bottom:0;
    margin-bottom:0;
}

.fls_caption .price_property-type .property_type{
    position:absolute;
    right:1em;
    top:1.2em;
}
.fls_caption .price_title_location_bed_bath h3.highlight{
    text-align:left;
    padding-bottom:0.3em;
}

.fls_caption .title_price h3.price{
    padding:0.5em 0.8em 0.2em;
}

.fls_caption .title_object-type_bath_bed_price .price
{
    position:absolute;
    right:0.8em;
    bottom:5px;
}
.fls_caption .title_location_property-type_info_price .price
{
    position:absolute;
    right:0.8em;
    bottom:1em;
}
.fls_caption .title_location_property-type_info_price{
    margin-bottom:0;
}
.fls_caption .location_price.content{
    padding-bottom:0;
}
.fls_caption .location_object-type_price .price{
    text-align: left;
    margin-bottom:0;
}
/* Slider Loading Screen */
.loader_image{
    position:absolute;
    display:block;
    background:url(loading.gif) no-repeat center center;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.loader_background{
    filter:alpha(opacity=70);
    opacity:0.7;
    position:absolute;
    display:block;
    background-color:#bbb;
    top:0;
    left:0;
    width:100%;
    height:100%
}