.command{
    position: fixed;
    top: 0;
    right: 0;
}

#robot{
    margin-left: 10px;
}

svg {
    font: 10px sans-serif;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend text{
    font-size: 12px;
}
