.WP-Post .pager li > a, .WP-Post .pager li > span {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0; }

.WP-Post .pager li > a:hover, .WP-Post .pager li > a:focus {
  color: white;
  background-color: #0085a1;
  border: 1px solid #0085a1; }

.WP-Post .pager .disabled > a, .WP-Post .pager .disabled > a:hover, .WP-Post .pager .disabled > a:focus, .WP-Post .pager .disabled > span {
  color: #808080;
  background-color: white;
  cursor: not-allowed;
  border: 0px; }

.WP-Post p {
  line-height: 1.5;
  margin: 30px 0; }
  .WP-Post p a {
    text-decoration: underline; }
.WP-Post h1 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800; }
.WP-Post h2 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800; }
.WP-Post h3 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800; }
.WP-Post h4 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800; }
.WP-Post h5 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800; }
.WP-Post h6 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800; }
.WP-Post a {
  color: #404040; }
  .WP-Post a:hover {
    color: #0085a1; }
  .WP-Post a:focus {
    color: #0085a1; }
  .WP-Post a img:hover {
    cursor: zoom-in; }
  .WP-Post a img:focus {
    cursor: zoom-in; }
.WP-Post blockquote {
  color: #808080;
  font-style: italic; }
.WP-Post .post-header {
  padding-bottom: 10px;
  padding-bottom: 40px;
  color: #404040; }
  .WP-Post .post-header h1 {
    font-size: 65px; }
  .WP-Post .post-header .subheading {
    line-height: 1.1;
    display: block;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600; }
  .WP-Post .post-header .meta {
    line-height: 1.1;
    display: block;
    font-family: Lora, Times New Roman, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px; }
    .WP-Post .post-header .meta a {
      color: #404040; }
.WP-Post .post-content {
  font-size: 18px; }
  .WP-Post .post-content img {
    width: 100%;
    height: auto; }
.WP-Post .post-preview > a {
  color: #404040; }
  .WP-Post .post-preview > a:hover {
    text-decoration: none;
    color: #0085a1; }
  .WP-Post .post-preview > a:focus {
    text-decoration: none;
    color: #0085a1; }
  .WP-Post .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .WP-Post .post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px; }
.WP-Post .post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0; }
  .WP-Post .post-preview > .post-meta > a {
    text-decoration: none;
    color: #404040; }
    .WP-Post .post-preview > .post-meta > a:hover {
      color: #0085a1;
      text-decoration: underline; }
    .WP-Post .post-preview > .post-meta > a:focus {
      color: #0085a1;
      text-decoration: underline; }
.WP-Post .section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700; }
.WP-Post .caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
.WP-Post .floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; }
.WP-Post .pager {
  margin: 20px 0 0; }
.WP-Post img::selection {
  color: white;
  background: transparent; }
.WP-Post img::-moz-selection {
  color: white;
  background: transparent; }

/*# sourceMappingURL=post.css.map */
